html, body{height: 100%; min-height: 100%;}
html{margin:0; padding:0;}
main {width: 50%;margin: 0 auto;height: 50%;display:block;float: none;}
ul{list-style: none;direction: rtl; display:inline-block;text-align:left;line-height: 0;}
ul li{display:inline-block; margin: 8px;}
section#calculatorInterface {width:100%;margin: 0 15%;height: 50px;}
input#input {width:20%;height:45px; display:block;float:left;}
output#result {width:40%;height: 50px; background:rgba(158, 158, 158, 0.55);;display: block;float: left;margin: 0 8px;}
section#controlpad {margin: 0 13%; width: 100%;display: block;float: left;}
ul#numbers {width:35%;display: block;float: left;}
ul#operators {display: block;width:23%;float: left;}
button {width: 50px;height: 50px;}
#operators li:nth-child(7){position:absolute; margin: 74px 77px;}
#operators li:last-child{position:absolute; margin: 74px 148px;}


/*html, body{height: 100%;min-height: 100%;}
html{margin:0;padding:0;height: 100%;}
main {width: 50%;margin: 0 auto;/* height: auto; *//* display:block; *//* float: none; }
ul{list-style: none;direction: rtl;display:inline-block;text-align:left;line-height: 0;}
ul li{display:inline-block; margin: 8px;}
section#calculatorInterface {/* width:100%; margin: 0 auto;/* height: 50px; }
input#input {width:20%;height:45px;display:block;float:left;}
output#result {width:40%;height: 50px; background:rgba(158, 158, 158, 0.55);;display: block;float: left;margin: 0 8px;}
section#controlpad {/* margin: 0 auto; *//* width: 100%; *//* display: block; *//* float: left; *//* position: relative; }
//ul#numbers {width: 33%;/* display: block; float: left;}
ul#operators {// display: block; width: 18%;float: left;}
button {width: 50px;height: 50px;}
#operators li:nth-child(7){/* position:absolute; *//* margin: 74px 77px; }
#operators li:last-child{/* position:absolute; *//* margin: 74px 148px; }*/
